500 Panics with Unicode in ics files

When trying to import an iCalendar that contains Unicode (like this example)
```
BEGIN:VEVENT
CREATED:20250909T083336Z
DTEND;TZID=Europe/Berlin:20250912T153000
DTSTAMP:20251217T082803Z
DTSTART;TZID=Europe/Berlin:20250912T090000
LAST-MODIFIED:20250909T083336Z
LOCATION:Hochschule des Bundes für öffentliche Verwaltung\nWilly-Brandt-
 Straße 1\, 50321 Brühl\, Deutschland
SEQUENCE:0
SUMMARY:Uni
TRANSP:OPAQUE
UID:C2F5DDC5-698D-467C-B1B6-8F5E3151107B
URL;VALUE=URI:
X-APPLE-CREATOR-IDENTITY:com.apple.mobilecal
X-APPLE-CREATOR-TEAM-IDENTITY:0000000000
X-APPLE-STRUCTURED-LOCATION;VALUE=URI;X-ADDRESS="Willy-Brandt-Straße 1, 
 50321 Brühl, Deutschland";X-APPLE-MAPKIT-HANDLE=CAESkQMIrk0QkY3t2Pij0Kqc
 ARoSCTA/gcF/aklAEVYZfFAGhRtAIokBCgtEZXV0c2NobGFuZBICREUaE05vcmRyaGVpbi1X
 ZXN0ZmFsZW4qEFJoZWluLUVyZnQtS3JlaXMyBkJyw7xobDoFNTAzMjFCBkJyw7xobFIUV2ls
 bHktQnJhbmR0LVN0cmHDn2VaATFiFldpbGx5LUJyYW5kdC1TdHJhw59lIDGKAQZCcsO8aGwq
 MkhvY2hzY2h1bGUgZGVzIEJ1bmRlcyBmw7xyIMO2ZmZlbnRsaWNoZSBWZXJ3YWx0dW5nMhZX
 aWxseS1CcmFuZHQtU3RyYcOfZSAxMgw1MDMyMSBCcsO8aGwyC0RldXRzY2hsYW5kOC9QAVp2
 CigIkY3t2Pij0KqcARISCTA/gcF/aklAEVYZfFAGhRtAGK5NkAMBmAMBoh9JCJGN7dj4o9Cq
 nAEaPAoySG9jaHNjaHVsZSBkZXMgQnVuZGVzIGbDvHIgw7ZmZmVudGxpY2hlIFZlcndhbHR1
 bmcQACoCZGVAAA==;X-APPLE-RADIUS=280.041665222174;X-APPLE-REFERENCEFRAME=
 0;X-TITLE=Hochschule des Bundes für öffentliche Verwaltung:geo:50.832024
 ,6.879907
END:VEVENT
```

Import fails with this message:

<img width="385" height="305" alt="Image" src="https://github.com/user-attachments/assets/69cd3346-ff25-4666-a7d4-d1466eb75c03" />

Looking at the logs, the error seems to be related to the Unicode character `ü` in the event.

```
rustical  | thread 'tokio-runtime-worker' (8) panicked at /usr/local/cargo/git/checkouts/ical-rs-02986e6dea88cb1d/474caf5/src/generator/ical.rs:78:47:
rustical  | byte index 24 is not a char boundary; it is inside 'ü' (bytes 23..25) of `Uhlstraße 30, 50321 Brühl, Germany`
rustical  | 2025-12-17T09:07:07.623527Z ERROR http-request{otel.name=IMPORT /caldav/principal/max/264ca513-cac8-4273-846e-ce6bff0e90c5 ua=Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:146.0) Gecko/20100101 Firefox/146.0}: tower_http::catch_panic: Service panicked: byte index 24 is not a char boundary; it is inside 'ü' (bytes 23..25) of `Uhlstraße 30, 50321 Brühl, Germany`
```

[RFC 5545 Section 3.1.4](https://datatracker.ietf.org/doc/html/rfc5545#section-3.1.4) specified UTF-8 as the encoding for iCalendar, so normally this should not be a problem. I suppose your implementation of ical does not support Unicode?

Anyways, thanks for creating rustical, except for this my experience has been flawless!

Thanks a lot, the issue was that when writing ical data I accidentally assumed that the last character of a line is only one byte long.
This should now be fixed in `v0.11.7`. :)

@lennart-k Amazing job. I can confirm that now importing ICS files with Unicode text in events via the WebUI is working as it should. Thanks for the really prompt update!