`calendar-access` missing from `DAV` header

`/caldav` doesn't  advertise `calendar-access` support, indicating that the server doesn't support CalDAV.

`/.well-known/caldav` redirects to `/caldav`, so `/caldav` MUST support CalDAV. `/caldav` actually does support queries like finding the user principal.

CalDAV does work fine on this URL, it's just that the server doesn't indicate that it supports CalDAV.

Ref: https://datatracker.ietf.org/doc/html/rfc4791#section-5.1

This comes up with [pimsync](https://pimsync.whynothugo.nl/), which has a command to "validate that the configuration is sane", which fails because of this.

pimsync uses [libdav](https://docs.rs/libdav/latest/libdav/) under the hood, I've been extending libdav's integration tests to test with rustical too.

I think I have to disagree with you on that.
The `/caldav` resource does not support any CalDAV-specific properties or methods, finding the current principal is from RFC 5397.
```rs
pub enum CommonPropertiesProp {
    // WebDAV (RFC 2518)
    #[xml(skip_deserializing)]
    #[xml(ns = "crate::namespace::NS_DAV")]
    Resourcetype(Resourcetype),
    #[xml(ns = "crate::namespace::NS_DAV")]
    Displayname(Option<String>),

    // WebDAV Current Principal Extension (RFC 5397)
    #[xml(ns = "crate::namespace::NS_DAV")]
    CurrentUserPrincipal(HrefElement),

    // WebDAV Access Control Protocol (RFC 3477)
    #[xml(skip_deserializing)]
    #[xml(ns = "crate::namespace::NS_DAV")]
    CurrentUserPrivilegeSet(UserPrivilegeSet),
    #[xml(ns = "crate::namespace::NS_DAV")]
    Owner(Option<HrefElement>),
}
```

Also in the [CalDAV spec in 5.1.1](https://datatracker.ietf.org/doc/html/rfc4791#section-5.1.1) the example URL is `/home/bernard/calendars/` and not `/` or `/home/bernard/` which to me suggests that I shouldn't advertise `calendar-access` on `/dav`.

FWIW Nextcloud also doesn't advertise `calendar-access` on `/remote.php/dav/`.

If you have different information feel free to correct me because I also had trouble finding definitive information on that in the past :)

`/.well-known/caldav` redirects here, making it th declared context path for the caldav server (as per RFC 6764).

This is, er, also just one token that needs to be added to the server's response.
